@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>hello world</div>
<div><table>
    <tr>
        <th>
            dseess

        </th>
        <th>
            regre
        </th>
    </tr>
</table></div>