

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Revolve - Personal Magazine blog Template</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--Favicon-->
	<link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
	<!-- THEME CSS
	================================================== -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<!-- Themify -->
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<link rel="stylesheet" href="~/css/slick-theme.css">
	<link rel="stylesheet" href="~/css/slick.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">
	<!-- manin stylesheet -->
	<link rel="stylesheet" href="~/css/style.css">
</head>
<body>
	<section class="slider mt-4">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="blog-single.html">
									<img src="~/lmg/images/slider/slider1.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Lifestyle</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">Tips for Taking a Long-term Trip</a></h3>
								<span class=" text-muted  text-capitalize">January 2, 2019</span>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="blog-single.html">
									<img src="~/lmg/images/slider/slider2.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">Trip to California</a></h3>
								<span class=" text-muted  text-capitalize">September 15, 2019</span>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="blog-single.html">
									<img src="~/lmg/images/slider/slider3.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">weekends</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">Our Favorite Weekend Getaways</a></h3>
								<span class=" text-muted  text-capitalize">June 12, 2019</span>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="blog-single.html">
									<img src="~/lmg/images/slider/slider2.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">Trip to California</a></h3>
								<span class=" text-muted  text-capitalize">September 15, 2019</span>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="blog-single.html">
									<img src="~/lmg/images/slider/slider3.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">Trip to California</a></h3>
								<span class=" text-muted  text-capitalize">September 15, 2019</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f1.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">Explore</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">The best place to explore to enjoy</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">June 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f2.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Lifestyle</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">How to Make list for travelling alone</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f3.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">Food</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">5 ingredient cilantro vinaigrette</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f4.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Explore</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">A Simple Way to Feel Like Home When You Travel</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">March 20, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f5.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">What Type of Traveller Are You?</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f6.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Experience</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">A Road Trip Review of the 2018</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">July 10, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f7.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">music</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">Portugal’s Sunset summer vission</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f8.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">beauty</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">The best soft Tropical Getaway</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">March 12, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f9.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">Memoriable Paris Girls Trip </a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">April 19, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f10.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Experience</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">How to Plan your Trip the Right Way</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">February 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f11.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">8 Powerful Ways to Add Vibrant Colour to Your Life</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">August 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="blog-single.html">
									<img src="~/lmg/images/news/f12.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">Lifestyle</span>
								<h3 class="post-title mt-1"><a href="blog-single.html">The best to-do list to help boost your productivity</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">October 2, 2019</span>
							</article>
						</div>
					</div>
				</div>
				<div class="m-auto">
					<div class="pagination mt-5 pt-4">
						<ul class="list-inline ">
							<li class="list-inline-item"><a href="#" class="active">1</a></li>
							<li class="list-inline-item"><a href="#">2</a></li>
							<li class="list-inline-item"><a href="#">3</a></li>
							<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	

	<!-- THEME JAVASCRIPT FILES
	================================================== -->
	<!-- initialize jQuery Library -->
	<script src="~/js/jquery.js"></script>
	<!-- Bootstrap jQuery -->
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<!-- Owl caeousel -->
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/slick.min.js"></script>
	<script src="~/js/magnific-popup.js"></script>
	<!-- Instagram Feed Js -->
	<script src="~/js/instafeed.min.js"></script>
	<!-- Google Map -->
	<script src="maps/api/js_key_AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw.js"></script>
	<script src="~/js/gmap.js"></script>
	<!-- main js -->
	<script src="~/js/custom.js"></script>
	

</body>
</html>


