<div class="item">
	<a href="#"><img class="img-fluid" src="/images/fashion/img-1.jpg" alt=""></a>
</div>
<div class="row">
	<div class="col-lg-6 col-md-6">
		<img src="/images/fashion/single-img1.png" alt="post-img" class="img-fluid mr-4 w-100">
	</div>
	<div class="col-lg-6 col-md-6">
		<img src="/images/fashion/single-img2.png" alt="post-img2" class="img-fluid mr-4 w-100">
	</div>
</div>